In [0]:
import pandas as pd 
import numpy as np 
import sklearn

In [9]:
J1939 = pd.read_csv('J1939Faults.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
J1939.head()

   RecordID  ESS_Id  ...  Longitude        LocationTimeStamp
0         1  990349  ... -84.626851  2015-02-21 11:34:25.000
1         2  990360  ... -84.626851  2015-02-21 11:35:10.000
2         3  990364  ... -87.767361  2015-02-21 11:35:26.000
3         4  990370  ... -87.767361  2015-02-21 11:36:08.000
4         5  990416  ... -89.442638  2015-02-21 11:39:37.000

[5 rows x 20 columns]

In [0]:
service_fault = pd.read_excel('Service Fault Codes_1_0_0_167.xlsx')

In [22]:
service_fault.head()

  Published in CES 14602  ...                              Algorithm Description
0                      Y  ...  Error internal to the ECM related to memory ha...
1                      Y  ...  Mechanical failure in the engine timing actuat...
2                      Y  ...  High signal voltage detected at the engine tim...
3                      Y  ...  Low voltage detected at the engine timing actu...
4                      Y  ...  The ECM has detected that the primary and back...

[5 rows x 14 columns]

In [0]:
vehicle_diagnostic = pd.read_csv('VehicleDiagnosticOnboardData.csv')

In [23]:
vehicle_diagnostic.head()

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1