In [104]:
import pandas as pd 
import numpy as np 
import sklearn

In [171]:
J1939 = pd.read_csv('data/J1939Faults.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [32]:
vehicle = pd.read_csv('data/VehicleDiagnosticOnboardData.csv')

In [33]:
J1939.shape

(1187335, 20)

In [34]:
vehicle.shape

(12821626, 4)

In [35]:
J1939.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [36]:
J1939 = J1939.drop(columns = ['actionDescription', 'ecuSoftwareVersion', 'ecuSerialNumber', 'faultValue', 'ecuModel', 'ecuMake'])

In [37]:
vehicle.head()

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1

In [38]:
codes = pd.read_excel('data/Service Fault Codes_1_0_0_167.xlsx')

In [39]:
codes.head()

,Published in CES 14602,Cummins Fault Code,Revision,PID,SID,MID,J1587 FMI,SPN,J1939 FMI,J2012 Pcode,Lamp Color,Lamp Device,Cummins Description,Algorithm Description
0,Y,111,167,Not Mapped,254,0,12,629,12,P0606,Red,Stop / Shutdown,Engine Control Module Critical Internal Failur...,Error internal to the ECM related to memory ha...
1,Y,112,167,Not Mapped,20,128,7,635,7,Not Mapped,Red,Stop / Shutdown,Engine Timing Actuator Driver Circuit - Mechan...,Mechanical failure in the engine timing actuat...
2,Y,113,167,Not Mapped,20,128,3,635,3,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,High signal voltage detected at the engine tim...
3,Y,114,167,Not Mapped,20,128,4,635,4,Not Mapped,Amber,Warning,Engine Timing Actuator Driver Circuit - Voltag...,Low voltage detected at the engine timing actu...
4,Y,115,167,190,Not Mapped,Not Mapped,2,612,2,P0008,Red,Stop / Shutdown,Engine Magnetic Speed/Position Lost Both of Tw...,The ECM has detected that the primary and back...

In [ ]:
codes.drop(columns = ['Published in CES 14602'])

In [40]:

# merge on RecordID and FaultId

In [41]:
# SPN 5246 is bad

In [42]:
faults_onboard = pd.merge(left = J1939, right = vehicle, left_on = 'RecordID', right_on = 'FaultId', how = 'inner')

In [43]:
faults_onboard.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,Id,Name,Value,FaultId
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000,1,IgnStatus,False,1
1,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000,2,EngineOilPressure,0,1
2,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000,3,EngineOilTemperature,96.74375,1
3,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000,4,TurboBoostPressure,0,1
4,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,0,111,17,True,2,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000,5,EngineLoad,11,1

In [44]:
faults_onboard.shape

(12821626, 18)

In [45]:
# filter down to failure rates and get truck ids and then we can try to make a function 
# to figure out what the codes were right before the failure 
# filter the SPNs and get the equipment ID

In [76]:
df1569 = faults_onboard[faults_onboard['spn'] == 1569]
df1569.EquipmentID.unique()

array(['1721', '1515', '1630', '1395', '1487', '1499', '1329', '1365',
       '1419', '1486', '1509', '1492', '1340', '1328', '1430', '1370',
       '1497', '1350', '1608', '1606', '1612', '1354', '1493', '1583',
       '1465', '1335', '1789', 1340, 1383, 1389, 1501, 1335, 1438, 1463,
       1606, 1514, 1666, 1689, 1692, 1357, 1396, 310, 1602, 1660, 1445,
       1431, 105393153, 1327, 1795, 1399, 1494, 1367, 1364, 1452, 1595,
       1740, 1366, 1339, 1425, 1358, 1646, 1391, 1428, 1338, 1637, 1346,
       1490, 1562, 1433, 1663, 1417, 1424, 1771, 1790, 1591, 1797, 1596,
       1421, 1444, 1480, 1493, 1466, 1457, 105360462, 1794, 1492, 1696,
       1703, 1626, 1715, 1437, 1453, 1584, 1597, 1610, 1377, 1652,
       105411041, 1517, 1784, 1751, 1786, 1590, 1341, 1382, 1714, 1430,
       1711, 1369, 1398, 1791, 1772, 1472, 1473, 1418, 1645, 1475, 1815,
       1806, 1607, 1560, 1450, 1401, 1572, 1630, 1375, 1368, 1650, 1443,
       1495, 1670, 1587, 1778, 1566, 1789, 1617, 1691, 1573, 1477, 1476,
       1395, 1441, 1405, 1577, 1447, 1659, 1408, 1439, 1403, 1458, 1668,
       1814, 1567, 1583, 1373, 1446, 1700, 1629, 1730, 1665, 1381, 1551,
       1413, 1643, 1508, 1440, 1486, 1455, 1844, 1571, 1429, 1491, 1803,
       1467, 1378, 1608, 1488, 1739, 1448, 1420, 1384, 1683, 1372, 1502,
       1582, 1464, 1599, 1712, 1407, 1603, 1644, 1757, 1618, 1604, 1519,
       1831, 1631, 1811, 1628, 1818, 1423, 1636, 1555, 1719, 1638, 1710,
       1823, 1435, 1808, 1392, 1669, 1649, 1579, 1416, 1575, 1397, 1510,
       1813, 1601, 1419, 1657, 1621, 1651, 1620, 105359197, 1708, 1592,
       1613, 1619, 1925, 1887, 1662, 1640, 1881, 1563, 1713, 1557, 1839,
       1833, 1605, 1513, 1639, 1866, 1485, 1581, 1549, 1776, 308, 1586,
       1661, 1635, 1907, 1853, 1785, 1594, 1859, 1600, 1963, 1848, 1918,
       1561, 1796, 1624, 105338352, 1598, 1972, 1706, 1641, 1874, 1940,
       1609, 1642, 1506, 1552, 1685, 1883, 1946, 1913, 1920, 1634, 1995,
       1512, 1878, 1564, 1686, 1554, 1505, 1802, 1612, 1788, 1868, 1807,
       1688, 1922, 1903, 1681, 1904, 1615, 1828, 1694, 1559, 1827, 1842,
       1720, 1970, 1877, 1888, 1989, 1932, 1804, 1854, 1851, 1565, 1981,
       1741, 1980, 1737, 1580, 1924, 1822, 1766, 1812, 1917, 1933, 1817,
       1654, 1731, 2017, 2008, 1726, 1717, 1656, 1835, 1664, 1880, 1916,
       1996, 1912, 1947, 1997, 1736, 1820, 1729, 1864, 1556, 1898, 1884,
       1832, 1705, 1585, 1908, 1752, 1623, 1800, 1732, 1725, 1845, 1876,
       1576, 1897, 1647, 1931, 1971, 1852, 1697, 1959, 1953, 1787, 1962,
       1893, 2015, 2019, 1957, 1593, 1965, 1873, 1911, 1934, 1942, 1982,
       1900, 2009, 1948, 1723, 2006, 1956, 2012, 1836, 1935, 307, 1879,
       1792, 1865, 1885, 1690, 1793, 1860, 1894, 1856, 1704, 1614, 1655,
       1667, 1632, 1699, 1687, 1625, 1871, 1750, 1611, 2013, 1939, 1886,
       1999, 1819, 1901, 1821, 1847, 1701, 1588, 1838, 1849, 1775, 1743,
       1952, 1988, 1716, 1862, 2011, 1863, 1622, 2004, 1764, 1905, 1698,
       1846, 309, 1798, 1780, 1762, 1979, 2007, 1919, 1966, 1843, 1938,
       105427203, 1744, 1992, 1976, 1926, 1718, 1899, '1965', '1978',
       '1874', '1932', '1689', '1792', '1763', '1870', '1725', '1935',
       '1843', '1996', '1963', '1712', '1731', '1889', '1794', '1726',
       '1691', '1897', '1920', '105349576', '1715', '310', '1942', '1845',
       '1729', '1823', '1690', '1994', '1901', '2027', '1967', '1706',
       '1962', '1947', '1798', '1928', '1946', '1885', '1716', '1921',
       '1775', '1860', '1891', '1790', '1734', '1945', '1878', '1877',
       '1952', '1972', '1849', '1717', '2010', '306', 306, 1951, 1768,
       1781, 1763, 2002, 1728, 1721, 1869, 1735, 1964, 1858, 1758, 1958,
       2120, 1756, 1944, 105344451, 1927, 2005, 1889, 1709, 1914, 2020,
       1872, 1975, 1857, 1733, 2010, 1734, 1961, 1954, 1985, 1824,
       105349576, 1993, 1895, 1906, 2018, 1977, 1834, 1930, 1928, 1969,
       1991, 1994, 1984, 1967, 1949, 1896, 1891, 1950, 1855, 2000, 1986,
       1945, 1782, 1937, 2021, 1943, 1968, 1909, 1829, 1861], dtype=object)

In [53]:
df1569.shape

(114321, 18)

In [54]:
df1569[df1569['fmi'] == 31].shape

(114321, 18)

In [50]:
faults_onboard.EquipmentID.nunique()

1927

In [60]:
df1569.EventTimeStamp.min()

'2000-03-19 14:02:34.000'

In [61]:
df1569.EventTimeStamp.max()

'2020-03-06 14:04:23.000'

In [62]:
faults_onboard.EventTimeStamp.min()

'2000-03-18 19:14:10.000'

In [ ]:
df1569.groupby('EquipmentID')


if spn ==. , look at EqId, get it, bring in the other rows

In [67]:
dfbadcodes = faults_onboard[faults_onboard['spn'] == 1569|5246]
dfbadcodes.head()

Empty DataFrame
Columns: [RecordID, ESS_Id, EventTimeStamp, eventDescription, ecuSource, spn, fmi, active, activeTransitionCount, EquipmentID, MCTNumber, Latitude, Longitude, LocationTimeStamp, Id, Name, Value, FaultId]
Index: []

In [78]:
for x in range: 
    group = faults_onboard[faults_onboard.EquipmentID == x]
    
    def prev_code(): 
        if faults_onboard.spn.isin([1569|5246])
        
        return group.spn.index -1

SyntaxError: invalid syntax (<ipython-input-78-428cbcdb837b>, line 5)

In [82]:
faults_onboard.EquipmentID.dtype

dtype('O')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(data.iloc[:,0:4], data['Name'])

# Predicted class
print(neigh.predict(test))

-> ['Iris-virginica']

# 3 nearest neighbors
print(neigh.kneighbors(test)[1])
-> [[141 139 120]]

In [93]:
faults_onboard.EventTimeStamp.iloc[1]

'2015-02-21 10:47:13.000'

In [107]:
faults_onboard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12821626 entries, 0 to 12821625
Data columns (total 18 columns):
RecordID                 int64
ESS_Id                   int64
EventTimeStamp           object
eventDescription         object
ecuSource                int64
spn                      int64
fmi                      int64
active                   bool
activeTransitionCount    int64
EquipmentID              object
MCTNumber                int64
Latitude                 float64
Longitude                float64
LocationTimeStamp        object
Id                       int64
Name                     object
Value                    object
FaultId                  int64
dtypes: bool(1), float64(2), int64(9), object(6)
memory usage: 2.0+ GB

In [125]:
failure_error_2 = faults_onboard.spn.isin([5246])

failure_error = faults_onboard.spn.isin([1569]) & faults_onboard.fmi.isin([31])

all_failures = failure_error_2 | failure_error

failed_trucks = faults_onboard[all_failures].EquipmentID.astype(str).unique()

failed_truck_df = faults_onboard[faults_onboard.EquipmentID.isin(failed_trucks)]

In [126]:
failed_truck_df = failed_truck_df.sort_values(["EquipmentID", "EventTimeStamp"], ascending = (False, True))
failed_truck_df

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,Id,Name,Value,FaultId
140,20,990544,2015-02-21 11:18:20.000,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,141,Throttle,0,20
141,20,990544,2015-02-21 11:18:20.000,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,142,IgnStatus,True,20
142,20,990544,2015-02-21 11:18:20.000,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,143,EngineOilPressure,28.42,20
143,20,990544,2015-02-21 11:18:20.000,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,144,EngineOilTemperature,192.1438,20
144,20,990544,2015-02-21 11:18:20.000,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,145,FuelTemperature,32,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10898196,1053024,60660684,2018-09-05 09:01:08.000,Incorrect Data J1939 Network #1 Primary Vehicl...,11,639,2,True,127,105344451,105344451,39.899120,-82.020046,2018-09-05 09:01:44.000,10923927,CruiseControlActive,False,1053024
10898197,1053024,60660684,2018-09-05 09:01:08.000,Incorrect Data J1939 Network #1 Primary Vehicl...,11,639,2,True,127,105344451,105344451,39.899120,-82.020046,2018-09-05 09:01:44.000,10923928,EngineCoolantTemperature,185,1053024
10898198,1053024,60660684,2018-09-05 09:01:08.000,Incorrect Data J1939 Network #1 Primary Vehicl...,11,639,2,True,127,105344451,105344451,39.899120,-82.020046,2018-09-05 09:01:44.000,10923929,ParkingBrake,False,1053024
10898199,1053024,60660684,2018-09-05 09:01:08.000,Incorrect Data J1939 Network #1 Primary Vehicl...,11,639,2,True,127,105344451,105344451,39.899120,-82.020046,2018-09-05 09:01:44.000,10923930,DistanceLtd,482313,1053024
10898407,1053045,60670335,2018-09-05 10:11:15.000,Incorrect Data J1939 Network #1 Primary Vehicl...,11,639,2,False,127,105344451,105344451,39.939583,-82.028796,2018-09-05 10:11:10.000,10924138,LampStatus,255,1053045

In [127]:
failed_truck_df['EventTimeStamp'] = pd.to_datetime(failed_truck_df['EventTimeStamp'])
failed_truck_df['Year'] = pd.DatetimeIndex(failed_truck_df['EventTimeStamp']).year
failed_truck_df['Month'] = pd.DatetimeIndex(failed_truck_df['EventTimeStamp']).month

In [128]:
failed_truck_df.head(10)

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,Id,Name,Value,FaultId,Year,Month
140,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,141,Throttle,0,20,2015,2
141,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,142,IgnStatus,True,20,2015,2
142,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,143,EngineOilPressure,28.42,20,2015,2
143,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,144,EngineOilTemperature,192.1438,20,2015,2
144,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,145,FuelTemperature,32,20,2015,2
145,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,146,AcceleratorPedal,0,20,2015,2
146,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,147,TurboBoostPressure,0.58,20,2015,2
147,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,148,EngineLoad,28,20,2015,2
148,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,149,FuelLtd,6823.035759056,20,2015,2
149,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000,150,IntakeManifoldTemperature,122,20,2015,2

1) Delete rows with shop address

2)  Deal with the duplicates -- maybe use J1939

3)  Find the codes just before the derate codes 

4)  k nearest neighbors

Here are the locations of the shop facilities:

193 Aldi Blvd, Mt Juliet, TN: 36.0666667, -86.4347222

137 Eady Road  Bell Buckle, TN: 35.5883333, -86.4438888

5754 Fish Hatchery Road  Russellville, TN: 36.1950, -83.174722

In [132]:

# round both columns 

failed_truck_df['Lat_Round'] = failed_truck_df.Latitude.round(3)

In [133]:
failed_truck_df['Long_Round'] = failed_truck_df.Longitude.round(3)

In [134]:
failed_truck_df.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,...,Longitude,LocationTimeStamp,Id,Name,Value,FaultId,Year,Month,Lat_Round,Long_Round
140,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,141,Throttle,0,20,2015,2,35.486,-86.467
141,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,142,IgnStatus,True,20,2015,2,35.486,-86.467
142,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,143,EngineOilPressure,28.42,20,2015,2,35.486,-86.467
143,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,144,EngineOilTemperature,192.1438,20,2015,2,35.486,-86.467
144,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,145,FuelTemperature,32,20,2015,2,35.486,-86.467

In [135]:
failed_truck_df = failed_truck_df[~failed_truck_df.Lat_Round.isin([36.066, 36.067, 35.588, 35.589, 36.195, 36.196])]

failed_truck_df = failed_truck_df[~failed_truck_df.Long_Round.isin([-86.434, -86.435, -86.443, -86.444, -83.174, -83.175])]

In [136]:
failed_truck_df.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,ecuSource,spn,fmi,active,activeTransitionCount,EquipmentID,...,Longitude,LocationTimeStamp,Id,Name,Value,FaultId,Year,Month,Lat_Round,Long_Round
140,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,141,Throttle,0,20,2015,2,35.486,-86.467
141,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,142,IgnStatus,True,20,2015,2,35.486,-86.467
142,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,143,EngineOilPressure,28.42,20,2015,2,35.486,-86.467
143,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,144,EngineOilTemperature,192.1438,20,2015,2,35.486,-86.467
144,20,990544,2015-02-21 11:18:20,High Voltage (Fuel Level),49,96,3,True,126,310,...,-86.466712,2015-02-21 11:47:32.000,145,FuelTemperature,32,20,2015,2,35.486,-86.467

In [137]:
failed_truck_df[failed_truck_df.Lat_Round == 36.066]

Empty DataFrame
Columns: [RecordID, ESS_Id, EventTimeStamp, eventDescription, ecuSource, spn, fmi, active, activeTransitionCount, EquipmentID, MCTNumber, Latitude, Longitude, LocationTimeStamp, Id, Name, Value, FaultId, Year, Month, Lat_Round, Long_Round]
Index: []

[0 rows x 22 columns]

In [138]:
J1939.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000

In [140]:


# Hari said we should go for rolling windows

diabetes_rolling=diabetes.groupby('patient_nbr').rolling(window='365D', on='admit_date').encounter_id.count()\
                .reset_index().rename(columns = {'encounter_id':'number_inpatient_visit'})

In [141]:
# faults_CMMNS_onboard_drop.loc[faults_CMMNS_onboard_drop['active'] == True, 'active'] = 1

# faults_CMMNS_onboard_drop.loc[(faults_CMMNS_onboard_drop['SPN'] == 5246) & (faults_CMMNS_onboard_drop['J1939 FMI'] == 0), 'derate'] = 1

In [166]:
# target_var = failed_truck_df.loc[(failed_truck_df['spn'] == 5246) & (failed_truck_df['fmi'] == 0), 'Derate'] = 1

In [179]:
J1939.loc[J1939['spn'] == 5246, 'target'] = 1
J1939.loc[J1939['spn'] != 5246, 'target'] = 0
J1939.loc[J1939['spn'] == 1569, 'target'] = 1
J1939.loc[J1939['spn'] != 1569, 'target'] = 0

In [177]:
J1939.head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,...,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,target
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,...,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000,0.0
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,...,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000,0.0
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,...,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000,0.0
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,...,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000,0.0
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,...,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000,0.0

In [184]:
pd.set_option('display.max_columns', None)
J1939[J1939.target == 1].head()

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp,target
40,41,990856,2015-02-21 12:06:22.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,True,5,NaN,1721,105439606,39.051805,-84.560509,2015-02-21 12:06:57.000,1.0
249,250,993542,2015-02-21 15:01:49.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,False,5,NaN,1721,105439606,38.113240,-85.667361,2015-02-21 15:01:45.000,1.0
290,291,994045,2015-02-21 15:35:45.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,True,6,NaN,1721,105439606,37.735185,-85.808101,2015-02-21 15:36:21.000,1.0
306,307,994237,2015-02-21 15:51:58.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,False,6,NaN,1721,105439606,37.540370,-85.880972,2015-02-21 15:51:54.000,1.0
340,341,994680,2015-02-21 16:22:24.000,Condition Exists Engine Protection Torque Derate,NaN,05317106*04047493*092613211021*09300006*G1*BDR*,79723635,6X1u13D1500000000,CMMNS,0,1569,31,True,7,NaN,1721,105439606,37.166666,-85.964027,2015-02-21 16:23:00.000,1.0

In [185]:
failed_truck_df.loc[failed_truck_df['spn'] == 5246, 'target'] = 1
failed_truck_df.loc[failed_truck_df['spn'] != 5246, 'target'] = 0
failed_truck_df.loc[failed_truck_df['spn'] == 1569, 'target'] = 1
failed_truck_df.loc[failed_truck_df['spn'] != 1569, 'target'] = 0