In [0]:
import pandas as pd
import numpy as np

In [5]:
J1939 = pd.read_csv('J1939Faults.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
J1939.shape

(1127339, 20)

In [0]:
service = pd.read_excel('Service Fault Codes_1_0_0_167.xlsx')

In [9]:
service.shape

(7124, 14)

In [0]:
vehicle = pd.read_csv('VehicleDiagnosticOnboardData.csv')

In [11]:
vehicle.shape

(12821626, 4)

In [12]:
vehicle.head(20)

    Id                       Name            Value  FaultId
0    1                  IgnStatus            False        1
1    2          EngineOilPressure                0        1
2    3       EngineOilTemperature         96.74375        1
3    4         TurboBoostPressure                0        1
4    5                 EngineLoad               11        1
5    6           AcceleratorPedal                0        1
6    7  IntakeManifoldTemperature             78.8        1
7    8                   FuelRate                0        1
8    9                    FuelLtd  12300.907429328        1
9   10                  EngineRpm                0        1
10  11                 LampStatus             1023        1
11  12         BarometricPressure            14.21        1
12  13                  FuelLevel             43.2        1
13  14                      Speed                0        1
14  15              EngineTimeLtd           1632.2        1
15  16      CruiseControlSetSpeed         66.48672        1
16  17        CruiseControlActive            False        1
17  18   EngineCoolantTemperature            100.4        1
18  19               ParkingBrake             True        1
19  20     SwitchedBatteryVoltage          3276.75        1

In [20]:
J1939.head()

   RecordID  ESS_Id  ...  Longitude        LocationTimeStamp
0         1  990349  ... -84.626851  2015-02-21 11:34:25.000
1         2  990360  ... -84.626851  2015-02-21 11:35:10.000
2         3  990364  ... -87.767361  2015-02-21 11:35:26.000
3         4  990370  ... -87.767361  2015-02-21 11:36:08.000
4         5  990416  ... -89.442638  2015-02-21 11:39:37.000

[5 rows x 20 columns]

In [19]:
J1939.EquipmentID.value_counts()

1641         17216
1646         15174
1618         14774
1605         14748
1606         14654
             ...
2208             1
105438645        1
105435406        1
105301976        1
105381862        1
Name: EquipmentID, Length: 1836, dtype: int64

In [17]:
service.head(20)

   Published in CES 14602  ...                              Algorithm Description
0                       Y  ...  Error internal to the ECM related to memory ha...
1                       Y  ...  Mechanical failure in the engine timing actuat...
2                       Y  ...  High signal voltage detected at the engine tim...
3                       Y  ...  Low voltage detected at the engine timing actu...
4                       Y  ...  The ECM has detected that the primary and back...
5                       Y  ...  High signal voltage detected at the Injector T...
6                       Y  ...  Low signal voltage detected at the Injector Ti...
7                       Y  ...  High signal voltage detected at the fuel deliv...
8                       Y  ...  Low signal voltage detected at the fuel delive...
9                       Y  ...  The ECM has lost one of the two speed/position...
10                      Y  ...  High signal voltage detected at the intake man...
11                      Y  ...  Low signal voltage or open circuit detected at...
12                      Y  ...     High pressure detected in Intake Manifold #1.
13                      Y  ...      Low pressure detected in Intake Manifold #1.
14                      Y  ...     High pressure detected in Intake Manifold #2.
15                      Y  ...      Low pressure detected in Intake Manifold #2.
16                      Y  ...  High signal voltage detected at the intake man...
17                      Y  ...  Low signal voltage detected at the intake mani...
18                      Y  ...  High voltage detected at accelerator pedal pos...
19                      Y  ...  Low voltage detected at accelerator pedal posi...

[20 rows x 14 columns]

In [0]:
merged_df = pd.merge(J1939, vehicle, left_on='RecordID', right_on='FaultId', how='left')

In [27]:
merged_df.tail()

          RecordID    ESS_Id  ...     Value  FaultId
12152079   1178755  93949768  ...     False  1178755
12152080   1178755  93949768  ...  317859.4  1178755
12152081   1178756  93949844  ...     17407  1178756
12152082   1178757  93949882  ...      1023  1178757
12152083   1178758  93949927  ...      1023  1178758

[5 rows x 24 columns]

In [32]:
failure_error_2 = merged_df.spn.isin([5246])
failure_error_2

0           False
1           False
2           False
3           False
4           False
            ...
12152079    False
12152080    False
12152081    False
12152082    False
12152083    False
Name: spn, Length: 12152084, dtype: bool

In [37]:
failure_error = merged_df.spn.isin([1569]) & merged_df.fmi.isin([31])
failure_error

0           False
1           False
2           False
3           False
4           False
            ...
12152079    False
12152080    False
12152081    False
12152082    False
12152083    False
Length: 12152084, dtype: bool

In [38]:
merged_df[failure_error]

          RecordID    ESS_Id  ...     Value  FaultId
369             41    990856  ...         0       41
370             41    990856  ...      True       41
371             41    990856  ...     35.96       41
372             41    990856  ...  220.4375       41
373             41    990856  ...        32       41
...            ...       ...  ...       ...      ...
12149482   1178523  93859287  ...     False  1178523
12149483   1178523  93859287  ...       185  1178523
12149484   1178523  93859287  ...     False  1178523
12149485   1178523  93859287  ...  352550.2  1178523
12149822   1178560  93867194  ...     17407  1178560

[109777 rows x 24 columns]